@{
	ViewBag.Title = "Uspješno poslana poruka";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-action="Contact">Kontakt</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Poruka poslana</li>
	</ol>
</nav>

<h2>@ViewBag.Title.</h2>
<div class="alert alert-success">@ViewBag.Message</div>