@{
	ViewData["Title"] = "Contact Success";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Contact">Kontakt</a></li>
		<li class="breadcrumb-item active" aria-current="page">Poruka poslana</li>
	</ol>
</nav>


<h1>@ViewData["Title"]</h1>

<div class="alert alert-success" role="alert">
	@{
		<p>@Html.Raw(ViewBag.Message)</p>
	}
</div>