@{
	ViewData["Title"] = "Privacy Policy";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Privacy</li>
	</ol>
</nav>


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a asp-controller="Home" asp-action="FAQ" asp-route-selected="4">FAQ Question 4</a>
<br>
<a asp-controller="Home" asp-action="FAQ">FAQ</a>