@model Vjezba.Model.Client

@{
	ViewData["Title"] = "Dodavanje novog klijenta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index">Popis klijenata</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Novi klijent</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<partial name="_CreateOrEdit" model="@Model"/>
			<div class="form-group">
				<input type="submit" value="Spremi" class="btn btn-outline-success"/>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function() {
			$("input[type=email]").focus(function() {
				$("span[id$=tooltip]").show();
			});

			$("input[type=email]").blur(function() {
				$("span[id$=tooltip]").hide();
			});

			$(".form-control").on("input", SetUnload);
		});

		function SetUnload() {
			window.onbeforeunload = function(e) {
				e = e || window.event;

				var msg = 'Any string';

				// For IE<8 and Firefox prior to version 4
				if (e) {
					e.returnValue = msg;
				}

				// For Chrome, Safari, IE8+ and Opera 12+
				return msg;
			};
		}
	</script>
}