@model List<Vjezba.Model.Client>

@{
	ViewData["Title"] = "Home Page";
}

<style>
	.tab-pane { padding: 20px; }
</style>

<h1>Popis klijenata</h1>
<div style="margin-bottom: 10px; margin-top: 20px;">
	<partial name="_ClientFilter" model="new ClientFilterModel()"/>
</div>

<partial name="_IndexTable" model="Model"/>

@section Scripts {
	<script>
		function filter() {
			const form = $("form");
			$.ajax({
				url: "@Url.Action("IndexAjax")",
				method: "POST",
				data: form.serialize(),
				success: function(data) {
					$("table").replaceWith(data);
					return data;
				}
			});
		}
	</script>
}